<?xml version="1.0"?>
<!--
/**
 * Phoenix_MediaStorageSync for Magento 2
 *
 *
 * @category    Phoenix
 * @package     Phoenix_MediaStorageSync
 * @license     http://opensource.org/licenses/MIT MIT
 * @copyright   Copyright (c) 2018 PHOENIX MEDIA GmbH (http://www.phoenix-media.eu)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <phoenix_mediastoragesync>
            <general>
                <enabled>1</enabled>
                <download_limit>50</download_limit>
                <url>{your-remote-url}</url>
            </general>
        </phoenix_mediastoragesync>
    </default>
</config>
