<?xml version="1.0"?>
<!--
/**
 * Phoenix_MediaStorageSync for Magento 2
 *
 *
 * @category    Phoenix
 * @package     Phoenix_MediaStorageSync
 * @license     http://opensource.org/licenses/MIT MIT
 * @copyright   Copyright (c) 2018 PHOENIX MEDIA GmbH (http://www.phoenix-media.eu)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_category_load_after">
        <observer name="phoenix_mediastoragesync_catalog_category_load_after" instance="Phoenix\MediaStorageSync\Observer\CatalogCategoryLoadAfter" />
    </event>
    <event name="catalog_product_load_after">
        <observer name="phoenix_mediastoragesync_catalog_product_load_after" instance="Phoenix\MediaStorageSync\Observer\CatalogProductLoadAfter" />
    </event>
    <event name="catalog_product_collection_load_after">
        <observer name="phoenix_mediastoragesync_catalog_product_collection_load_after" instance="Phoenix\MediaStorageSync\Observer\CatalogProductCollectionLoadAfter" />
    </event>
</config>